html{
	height: 100%;
}

body{
	background-color: #c0c0c0;
}

/*Prueba formulario*/
form{
	padding: 40px;
	border: 2px blue solid;
	font-size: large;
}

#t1{
	padding: 40px;
	width: 200px;
	font-size: large;
	display: block;
}

#t2{
	padding: 40px;
	width: 200px;
	font-size: large;
	display: block;
}

/*Prueba de !important*/
div{
	background-color: green !important; /*!important da prioridad al estilo de la caja*/
	border: cyan dotted 2px;
	padding: 50px;
	width: 50%;
	font-size: 20px;
}

p{
	color: white;
	background-color: navy;
	border: yellow dashed 5px;
	width: 20%;
	height: 30%;
}

/*Texto de línea*/
span{
	background-color: white;
	border: red solid 2px;
	margin: 5px;
	display: inline-block;

}

/*Para comprobar que no cambia con el important*/
#test{
	background-color: white;
	border: red solid 2px;
	margin: 5px;
	display: inline-block;
}